<!DOCTYPE html>
<html lang="en" data-ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>My Angular App</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body data-ng-controller="myController">
    <span data-ng-repeat="country in countries">
        <button data-ng-click="scrollTo(country.name)">{{ country.name }}</button>
    </span>
    <br /><br />
    <div>
        <fieldset data-ng-repeat="country in countries" id="{{country.name}}">
            <legend>{{ country.name }}</legend>
            <ul>
                <li data-ng-repeat="city in country.cities">
                    {{ city.name }}
                </li>
            </ul>
        </fieldset>
    </div>
</body>
</html>